{{define "base"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/foundation.css">
    <link rel="stylesheet" href="../../static/style.css">
    {{ template "stylesheet" . }}
    <meta charset="UTF-8">
    <title>{{template "title" .}}</title>
</head>
<body>
    <div class="grid-container">
        <div class="grid-x" >
            <div class="small-1 grid-y">
                <img class="" src="../../static/images/logo_sia.png" alt="Logotype of SIA">
                <ul class="vertical menu">
                    <li><a href="/home/">Home</a></li>
                    <li><a href="/refresh/">Refresh database</a></li>
                    <li><a href="/templates/">Refresh templates</a></li>
                </ul>
            </div>
            <main class="small-11 cell">
                <h1>{{template "title" .}}</h1>
                <div>{{template "content" .}}</div>
            </main>
        </div>
    </div>
</body>
</html>
{{end}}