.grid-container {
    margin: 0;
    padding: 0;
    max-width: 100%;
}

html {
    font-family: "Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

h1,h2,h3,h4,h5,h6 {
    font-weight: bolder;
}