{{template "base" .}}

{{define "stylesheet"}}
{{end}}

{{define "title"}}Add New App{{end}}
{{define "content"}}
<form action="/save/" method="POST">
  <div>AppName : <textarea name="AppName" rows="1" cols="40"></textarea></div>
  <div>CodeOwner : <textarea name="CodeOwner" rows="1" cols="40"></textarea></div>
  <div>Repository : <textarea name="Repository" rows="1" cols="40"></textarea></div>
  <div>Actual Release : <textarea name="ActualRelease" rows="1" cols="40"></textarea></div>
  <div>Description : <textarea name="Description" rows="10" cols="40"></textarea></div>
  <div><input type="submit" value="Save"></div>
</form>
{{end}}