{{template "base" .}}

{{define "stylesheet"}}
<link rel="stylesheet" href="../../static/view.css">
{{end}}

{{define "title"}}Edit - {{.AppName}}{{end}}
{{define "content"}}
<form action="/save/{{.AppID}}" method="POST">
  <h5>App name</h5>
  <div><textarea name="AppName" rows="1" cols="40">{{printf "%s" .AppName}}</textarea></div>
  <h5>Code owner</h5>
  <div><textarea name="CodeOwner" rows="1" cols="40">{{printf "%s" .CodeOwner}}</textarea></div>
  <h5>Repository</h5>
  <div><textarea name="Repository" rows="1" cols="40">{{printf "%s" .Repository}}</textarea></div>
  <h5>Actual Release</h5>
  <div><textarea name="ActualRelease" rows="1" cols="40">{{printf "%s" .ActualRelease}}</textarea></div>
  <h5>Description</h5>
  <div><textarea name="Description" rows="10" cols="40">{{printf "%s" .Description}}</textarea></div>
  <div><input type="submit" value="Save"></div>
</form>
{{end}}