{{template "base" .}}

{{define "title"}}
Homepage
{{end}}

{{define "stylesheet"}}
<link rel="stylesheet" href="../../static/home.css">
{{end}}

{{define "content"}}
<a class="button" href="/add/">Add</a>
<table>
    <tr>
        <th>App Name</th>
        <th>Actual Release</th>
        <th>Latest Release</th>
        <th>Status</th>
    </tr>
    {{ range . }}
    <tr>
        <td><a href ={{ printf "/view/%d" .AppID }} > {{ printf "%s" .AppName }}</a></td>
        <td>{{ printf "%s" .ActualRelease }}</td>
        <td>{{ printf "%s" .LatestRelease }}</td>
        {{ if eq .ActualRelease .LatestRelease }}
        <td class="td-green"> Yes </td>
        {{ else }}
        <td class="td-red"> No </td>
        {{ end }}
    </tr>
    {{ end }}
</table>
{{end}}