{{template "base" .}}

{{define "title"}}
{{.AppName}}
{{end}}

{{define "stylesheet"}}
<link rel="stylesheet" href="../../static/view.css">
{{end}}

{{define "content"}}
<a class="button" href="/edit/{{.AppID}}">Edit</a>
<a class="button" href="/refresh/{{.AppID}}">Refresh</a>
<a class="button" href="/delete/{{.AppID}}">Delete</a>
<h5> Description </h5>
<span>{{printf "%s" .Description}}</span>
<h5> Actual release </h5>
<p>{{printf "%s" .ActualRelease}}</p>
<h5> Latest release </h5>
<p>{{printf "%s" .LatestRelease}}</p>
<h5> Latest release's notes </h5>
<div class="notes">
    {{ .LatestReleaseNotes }}
</div>

{{end}}